extends layout

block layout-content
    block contact-content    

    hr

    // contact form
    section(class='p-5 d-flex align-items-center fadein')
        div(class='w-100')

            // section heading
            h2(class="mb-5 text-center") Contact Me

            // section form
            div(class='d-flex flex-column flex-md-row justify-content-center mb-5')
                form(name='sentMessage' id='contactForm')
                    div(class='control-group')

                        // name
                        div(class='form-group floating-label-form-group controls mb-0 pb-2')
                            label Name
                            input(
                                class='form-control'
                                id='name'
                                type='text'
                                placeholder='Name')

                        // email
                        div(class='control-group')
                            div(class='form-group floating-label-form-group controls mb-0 pb-2')
                                label Email Address
                                input(
                                    class='form-control'
                                    id='email'
                                    type='email'
                                    placeholder='Email Address')

                        // phone number
                        div(class='control-group')
                            div(class='form-group floating-label-form-group controls mb-0 pb-2')
                                label Phone Number
                                input(
                                    class='form-control'
                                    id='phone'
                                    type='tel'
                                    placeholder='Phone Number')

                        // message
                        div(class='control-group')
                            div(class='form-group floating-label-form-group controls mb-0 pb-2')
                                label Message
                                textarea(
                                    class='form-control'
                                    id='message'
                                    rows='5'
                                    placeholder='Message') #{message}

                        //error message and submit
                        p(class='help-block text-danger' id='errmsg')
                        div(class='form-group')
                            button(
                                type='submit'
                                class='btn btn-primary btn-xl'
                                id='submitButton') Send

    script(src='/javascripts/contact.js')
